*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
.canvas{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-top: 2rem;
}

@media screen and (max-width: 200) {
    #myChart{
        width: 100%;
       max-width: 40%;
    }
    
}/* 
@media screen and (max-width: 100) {
    #myChart{
       max-width: 100%;
    }
    
} */